<p id="notice"><%= notice %></p>
<div class="panel panel-default">
    <div class="panel-heading"><p>
    <strong>Description:</strong>
    <%= @pin.description %>
    </p>
    </div>
 
 <div class="panel-body">
      <div style:'width: 200px; height: auto'>
        <%= image_tag(@pin.image) %>
  </div>
</div>

<div class= "panel-footer"> 

      <%= link_to 'Edit', edit_pin_path(@pin) %> | <%= link_to 'Back', pins_path %>

      <h5> Download the PDF: </h5>

        <td style="text-align:left">
          <% @pin.uploads.each do |upload| %>
            <% if upload.variable? %>
              <%= link_to image_tag(upload.variant), upload %>
            <% else %>
              <%= link_to upload.filename, upload %>
            <% end %>
          <% end %>
        </td>




</div>
